<div class="flex flex-col">
    <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
        <div class="overflow-hidden">
          <table class="min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-800 text-white dark:bg-neutral-900">
              <tr>
                <th scope="col" class="px-6 py-4">Name</th>
                <th scope="col" class="px-6 py-4">Value</th>
                <th scope="col" class="px-6 py-4">Origin</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let entry of data" class="border-b transition duration-300 ease-in-out hover:bg-neutral-800 dark:border-neutral-800 dark:hover:bg-neutral-300">
                <td class="whitespace-nowrap px-6 py-4">{{ entry.name }}</td>
                <td class="whitespace-nowrap px-6 py-4">$ {{ entry.value }}</td>
                <td class="whitespace-nowrap px-6 py-4">{{ entry.origin }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
<app-pagination [pageSize]="10" [totalItems]="data.length"></app-pagination>